*
{
    margin: 0px;
    padding: 0px;
}
@font-face
{
    font-family:'AlegreyaSans-Medium';
    src: url('../fonts/AlegreyaSans-Medium.ttf');
}
body{
  
    background-color: #ffffff;
    color: black;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'AlegreyaSans-Medium';
}
/***************** Start pic. 1 *********************/
.icons
{
    height: 70px;
    padding-left: 50px;
}
.icons a
{
  text-decoration: none;
  color: #c5c1c1;
  line-height: 70px;
  margin-left: 20px;
  float: left;
}
.btns
{
    line-height: 70px;
    float: right;
    margin-right: 80px;
}
.btns select
{
    padding: 8px !important; 
}
.btns button,select
{
    width: 120px;
    padding: 9px;
    border: none;
    text-decoration: none;
    background-color: #dcdcdc3b;
    margin-right: 3px;
    font-family: 'AlegreyaSans-Medium';
    font-size: 14px;

}
.btns .donate
{
    background-color: #e01c1c;
    color: #fffffff7;
}
hr
{
    border: 0.7px solid #c5c1c1;
}
.nav.fixed
{
    top:0 ;
}
.nav
{
    height: 100px;    
    overflow: hidden;
    background-color: white;
    top: 80px;
    width: 100%;
    position: fixed;
}
.nav img
{
    margin-top: 25px;
    margin-left: 60px;
    float: left;
    margin-right: 230px;
}
.nav li 
{
    margin-right: 20px;
    line-height: 100px;
    list-style: none;
}
.nav li a
{
    text-decoration: none;
    color: #000000c7;
    float: left;
    margin-left: 40px;
}

.nav li a:hover
{
    color:#e01c1c;
    padding: 2px;
}
.nav li .search
{
    width: 140px;
    height: 30px;
    margin-left: 5px; 
    padding-left: 6px;
    border-radius: 3px;
    border: 2px solid #ef1717;
}
.nav li .search:focus
{
    padding: 6px;
}
.nav li .active
{
    color: #ef1717;
}

.backGround
{
    margin-top: 100px;
    height: 500px;
    background-image: url("../images/banner/home-banner.jpg");
    background-position: center;
    background-size: cover;
}
.backGround .text 
{
    padding-top: 150px;
    color: #f7f7f7fa;
    text-align: center;
}
.backGround .text .small
{
    margin-bottom: 30px;
    margin-top: 30px;
}
.backGround .text .small2
{
    margin-top: 30px;
}
.backGround .text .big 
{
    font-weight: bold;
    font-size: 55px;
}
.backGround .donate
{
    background-color: #e01c1c;
    color: #fffffff7;
}
.backGround button
{
    margin-top: 30px;
    width: 120px;
    padding: 9px;
    border: none;
    text-decoration: none;
    background-color: #dcdcdc3b;
    margin-right: 3px;
    font-family: 'AlegreyaSans-Medium';
    font-size: 14px;
    color:#ffffffed; 
}
/***************** End pic. 1 *********************/

/***************** Start pic. 2,3 *********************/
.sections
{
    width: 100%;
    height: 250px;
    margin-top: 50px;

}
.sections #donation
{    
    background-color: #f3d44ae3;
    height: 170px;
    width: 25%;
    float: left;
    margin-left: 120px;
}
.sections #volunteer
{    
    background-color: #dc0950d1;
    height: 170px;
    width: 25%;
    float: left;
    margin-left: 30px;
}
.sections #plan
{
    background-color:#5fe45bc9;
    height: 170px;
    width: 25%;
    float: left;
    margin-left: 30px;

}
.sections .left
{
    color: #ffffffed;
    float: left;
    margin:30px 40px;
    width: 50%;
    
}
.sections .mid
{
    border-left: 1px solid white;
    height: 100px;
    margin: 30px 220px;
}

.sections .right
{
    color:#ffffffed;
    float: right;
    margin:-90px 40px;
    font-size: 26px;
}

.behave
{
    width: 100%;
    height: 400px;
}
.behave .data
{
    height: 300px;
    float: left;
    width: 40%;
    margin-left: 100px;
}
.behave .data h2
{
 font-size: 36px;
}
.behave .data p
{
 color: #292525c2;
 padding: 20px 0px;
 width: 77%;
 padding-bottom: 40px;
}
.behave .data img
{
    margin-left: 13px;
    width:95%;
    margin-top: -50px;
    height: 300px;
   box-shadow:10px #c5c1c1;
}
.behave .data .shadow
{
    width: 80%;
    height: 270px;
    background-color: #d8d1d14d;
    padding: 20px;
}
.behave .data .box
{
    border: 1px solid #c5c1c1;
    float: left;
    width: 23%;
    margin-left: 10px;
    height: 120px;
    padding: 20px;
}
.behave .data b
{
    display: block;
    padding-top: 12px;
    font-size: 28px;
}
.behave .data .fa-user-friends,.fa-database,.fa-book
{
    color: #ef1717 ;
    font-size: 18px;
}
/***************** End pic. 2,3 *********************/

/***************** Start pic. 4,5 *********************/
.causes
{
    width: 100%;
    background-color: #6762620a;
    height: 800px;
}
.causes h2
{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}
.causes .txt
{
    color: #444242a6;
    width:45%;
    text-align: center;
    padding: 20px 350px;
}
.causes .card
{
float: left;
 border: 1px solid white;
 background-color: #fffffff7;
 width: 27%;
 height: 450px;
 margin-left: 70px;
 margin-top: 40px;
 
}
.causes .card img
{
    width: 100%;
    height: 250px;
    padding-bottom: 10px;
   
}
.causes .card .space
{
    width: 0;
    border-bottom: 3px solid #f72457db ;
    float: left;
    margin-top: -15px;
}

.causes .card.num::after
{
    margin-top: -215px;
    margin-right: 64px;
    content: "75%";
    background-color: #f72457db ;
    width: 30px;
    float: right;
   color: white;
   padding: 2px;
}
.causes .card h2
{
    font-size: 24px;
    margin-left: 30px;
    text-align: left;
}
.causes .card p
{
    color: #444242a6;
    margin-left: 35px;
    text-align: left;
    width: 70%;
}
.causes .card button
{
    margin-top: 27px;
    width: 120px;
    padding: 16px;
    border: none;
    text-decoration: none;
    background-color: #fffffff7;
    width: 50%;
    float: left;
    font-family: 'AlegreyaSans-Medium';
    font-size: 16px;
    color:black; 

}
.causes .card .red
{
    background-color: #f72457db;
    color:#ffffffed; 

}
.scal
{
  margin-left: 800px;
  margin-top: 580px;
}
.scal svg
{
    margin: -140px;
}
svg .red
{

    fill: #f72457db;
}
svg .whit
{
    fill: #c5c1c1;
}
/***************** End pic. 4,5 *********************/

/***************** Start pic. 6 *********************/
.features
{
    height: 700px;
    background:linear-gradient(rgb(15, 16, 47, 0.73),rgba(3, 7, 25, 0.62)), url("../images/feature-bg.jpg");
    background-size: cover;
    background-position: center;
    color:#fffffff7;
    

}
.features h3
{text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
   
}
.features p{
    text-align: center;
    color: #c5c1c1;
    padding-bottom: 100px;
}
.feture
{
    background-color: #6f727557;
    float: left;
    width: 21%;
    height: 230px;
    border: 2px solid #6f727557;
    margin-left: 60px;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.feture .fa-gem,.fa-cube,.fa-accessible-icon
{
  font-size: 20px;
  margin-bottom: 20px;
}
.feture h4
{
    margin-bottom: 20px;
    font-size: 20px;
}
/***************** End pic. 6 *********************/

/***************** Start pic. 7,8 *********************/
.event
{
    height: 500px;
    
}
.event h3
{text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: #000000cf;
}
.event p
{
    text-align: center;
    margin-top: 30px;
    color:#15161780;
}
.event .imgs
{ 
  margin-top: 70px;
  margin-left: 100px;
  width: 40%;
  float: left;
  height: 260px;
}
.event .imgs img
{
    float: left;
    height: 90%;
}
.event .imgs p{
    float: left;
    margin-left: 20px;
    text-align: left;
}
.event .imgs .title
{
  font-size: 25px;
  margin-top: 10px;
  color: #000000cf;
font-weight: bold;
text-align: left;
}

.event .scal2
{
    margin-left: 800px;
    margin-top: 380px;

}
.scal2 svg
{
    margin: -140px;
}
/***************** End pic. 7,8 *********************/

/***************** End pic. 9 *********************/
.donor
{
  height: 600px;
  margin-top: 70px;
  background-color: #b5b0b00d;
}
.donor .donor1
{
    margin-top: 130px;
    margin-left: 180px;
    float: left;
    width: 25%;
    height: 300px;
    
}
.donor .donor1 span
{
  font-size: 47px;
  color: #171819c9;
}
.donor .donor1 p
{
   padding-top: 18px;
   color:#44424282;
}
.donor .donor2
{ 
    border: 4px solid #ffffff;
    margin-left: 40px;
    margin-top: 60px;
    width: 25%;
    height: 350px;
    float: left;
    background-color: #fffffff7;
}
.donor .donor2 img
{
   padding: 20px 120px;
}
.donor .donor2 p
{
    color:#44424282;
   text-align: center;
   padding: 0 14px;
   padding-bottom: 17px;
}
.donor .donor2 b
{
  padding:0 105px;
  font-size: 20px;
}
.donor .donor2 .center
{
  padding:0 105px;
  padding-top: 10px;
  color:#44424282;

}
/***************** End pic. 9 *********************/

/***************** Start pic. 10 *********************/
.clients-logo 
{
    height: 300px;
    display: inline-block;
}
.clients-logo img
{
  margin-top: 140px;
  width: 10%;
  height: 60px;
  margin-left: 120px;
  opacity: .6;
}
/***************** End pic. 10 *********************/

/***************** Start pic. 11 *********************/
.footer
{
    height: 550px;
    background-color: #030a21ed;
}
.footer .about, .newsLetter, .instafeed
{
    width: 19%;
    height: 200px;
    margin-top: 80px;
    margin-left: 70px;
    float: left;
    padding: 10px;
    color: #c5c1c194;
}

.footer span h3
{
    padding: 10px 10px;
    color: white;
}
.footer span p
{
    padding: 10px 10px;

}
.footer .navigate
{
    width: 15%;
    height: 200px;
    margin-top: 80px;
    margin-left: 40px;
    float: left;
    padding: 10px;
    color: #c5c1c194;
}
.footer .navigate .list
{
   list-style: none;
   display: inline-block;
   margin-left: 10px;
   margin-top: 10px;
}

.footer .newsLetter input
{
   margin:10px 10px;
   border: 1px solid gray;
   background-color: #ee82ee00;;
   height: 19px;
   padding: 10px;
}
.footer .newsLetter .sendIcon
{
    border: 1px solid #f9227ee3;
    background-color: #f9227ee3;
    display: inline-block;
    height: 19px;
    margin:0px -15px;
    color: #ffffffff;
}
.footer .instafeed img
{
    padding-top: 10px;
}
.footer .line-break{
  border-bottom: 1px solid #c5c1c194;
  height: 340px;
  width: 1190px;
  margin: 0 90px;
}
.footer .copyright
{
    width: 70%;
    height: auto;
    margin-top: 80px;
    margin-left: 70px;
    float: left;
    padding: 10px;
    color: #c5c1c194;   
}
.footer .icons2
{
    width: 20%;
    height: auto;
    margin-top: 80px;
    margin-left: 20px;
    float: left;
    padding: 10px;
    color: #c5c1c194;
}
.icons2 a
{    
  padding-left: 20px;
  text-decoration: none;
  color: #c5c1c194;
  margin-left: 20px;
  float: left;
}
/***************** End pic. 11 *********************/
