/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
.photos {
    height: 1000px;
}
.header .ml-auto {
    margin-left: 0% !important;
}
.ml-auto, .mx-auto {
    margin-left: 10% !important;
}
.photos img {
    position: relative;
    width: 70%;
    height: 151px;
}
.searchBox #cancel {

    position: relative;
    top: -30px;
    left: 94%;
}
.breadcrumb {
    width: 55px;    z-index: 99999;
}
/* start catDetails page */
.catDetails .share-product li {
    margin: -4px 7px;
}
.catDetails ul:first-child {
    left: 20px;
}
.catDetails .fa-map-marker,.catDetails .fa-calendar, .catDetails .fa-user
{
    position: relative;
    top: 27px;
    left: -19px;
}
.catDetails .fa-star {
    position: relative;
    top: 54px;
    left: -200px;
}
.catDetails .detail ul li:last-child {
    display: flex;
}
.catDetails .detail ul li{
    font-size: 11px;
    margin: 0 12px;
}
/* end catDetails page */

/* strat category page */
.category .btn-outline-light {
    margin-bottom: 28px;
}
.category ul {
    width: 100%;
}
.category #myInput {
    width: 100%;
    margin-top: 20px;
}
.category span {
    font-size: 14px;
}
/* end category page */
/* start login */
.container_1 {
    background-color:  #f6f6f6;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    min-height: 550px;
    margin-top: 70px;
}
.loginPage span ,.loginPage .sign {
    width: 121px;
}
.loginPage .social-container,.loginPage a  {
    width: 159px;
}
.loginPage input {
    width: 176px;
    position: relative;
    left: 0;
}
.loginPage button {
    width: 109px;
    padding: 13px 0px;
}
.overlay-panel img {
    width: 95px;
}
.loginPage button.ghost {
    width: 117px;
    padding: 15px 0px;
}

.loginPage .login {
    padding: 13px 27px;
}
.loginPage .desc {
    width: 127px;
}
.loginPage h2 {
    font-size: 23px;
}
/* end login */
/* Start home page */
 .h2 {
font-size:24px;
}
.features img {
    margin-left: 32%;
}
.photos .img1, .photos .img2, .photos .img3,.photos .img4 {
    left: 50px;
}
.photos .bgColor-photos {
    height: 810px;
}
.offer .col-lg-4
{
    left: 0px;
}
/* end home page */
/* navbar */
.name {
    font-size: 33px;
    position: relative;
    left: 0px;
    width: 58%;
    top: 2px;
}
.naV {
    height: 113px;
}
.logo img{
    width: 64px;
};
/* end nav bar */
/* start footer */

 .footer-text p {

    position: relative;
    left: -21px;
    width: 227px;
}
 .footer-logo img {
    max-width: 137px;
}
 .mb-2, .my-2 {
    width: 144px;
}

 ul {
    width: 195px;
    position: relative;
    left: -9px;
    }
     .col-lg-4 {
        position: relative;
        left: -44px    }

    .subscribe-form {
        position: relative;
        overflow: hidden;
        width: 200px;
    }
.cta-text span {    position: relative;
    top: -25px;
    left: 77px;
}
.cta-text {
    padding-left: 17px;
    width: 254px;
}
.footer-text p {
    width: 246px;
}
.single-cta .fa-map-marker-alt, .single-cta .fa-phone, .single-cta .fa-envelope-open
{
    position: relative;
    font-size: 25px;
    top: 21px;
    left: -20px;
}

/* end footer */
/* start about page */

    .about {
        margin:40px 0px; 
    }
.about .faq-nav {
    position: relative;
left: 41px;
}
/* end about page */

/* profile */
#myTab .nav-item {
    width: 80%;
    text-align: center;
    padding-bottom: -20px;
}
#myTab .nav-link {
font-size: 20px;
padding: 18px 10px;
}
#followers-tab{
    margin-bottom: -30px;
}
#reviews-tab{
    margin-bottom: -28px;
}
.profile .Nofollow
{
    padding: 0px 13px;
    background-color: #fde431;
    border-radius: 25px;
    width: 20%;
    position: relative;
    top: -58px;
    left: 8px;
}
.profile .Noreview
{
    padding: 0px 13px;
    background-color: #fde431;
    border-radius: 25px;
    width: 22%;
    position: relative;
    top: -57px;
    left: 8px;

}
.nav-tabs{
    position: relative;
}
.tab-content{
    margin-top:10px;
    height: 1800px !important;
    padding: 39px;
    margin-bottom: 100px;
}
.alert-primary{
    font-size: 20px;
}
#dashboard label{
    font-size: 18px;
}
#dashboard button{
    font-size: 18px;
}
.profile .card1
{
  height: 322px !important;
  border-radius: 10px !important;
  margin-top: 5px;
}

    .profile .card2{
        height: 350px !important;
      }
      .profile .card2 button {
    display: block;
    float: left;
      margin-left: 20px;
      margin-top: 5px;
      }
.profile #gain {
    width: 100% !important;
    margin-left: 0px !important;
}
 table, thead, tbody, th, td, tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
 thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#gain tr { border: 1px solid #ccc; }

#gain td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 56%; 
}

#gain td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 20%; 
    padding-right: 10px; 
    white-space: nowrap;
}
#reviews tr { border: 1px solid #ccc; }

#reviews td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 56%; 
}

#reviews td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 20%; 
    padding-right: 10px; 
    white-space: nowrap;
}
/*
Label the data
*/
#reviews td:nth-of-type(1):before { content: "#"; }
#reviews td:nth-of-type(2):before { content: "Photo name"; }
#reviews td:nth-of-type(3):before { content: "User name"; }
#reviews td:nth-of-type(4):before { content: "Content of message"; }
#reviews td:nth-of-type(5):before { content: "Date"; }

#gain td:nth-of-type(1):before { content: "#"; }
#gain td:nth-of-type(2):before { content: "Photo name"; }
#gain td:nth-of-type(3):before { content: "NO. of piece"; }
#gain td:nth-of-type(4):before { content: "total gain"; }
#gain td:nth-of-type(5):before { content: "rate"; }
#gain td:nth-of-type(5):before { content: "Date"; }




}

/* Smartphones (landscape) ---------- */
@media screen and (min-width: 481px)and (max-width: 767px){
    .photos {
        height: 800px;    }
        .photos .bgColor-photos {
            height: 648px;
        }
    
    .photos img {
        position: relative;
        width: 50%;
        left: 24%;
        height: 121px;
    }
    .searchBox #cancel {
        position: relative;
        top: -30px;
        left: 94%;
    }
    .breadcrumb {
        width: 44px;
        z-index: 99999;
    }
    .features img {
        width: 30%;
        margin-left: 32%;
    }

    .name {
        font-size: 37px;
        position: relative;
        left: 0px;
    }
    .logo img{
        width: 81px;
    };
    /* strat category page */

.category ul {
    width: 100%;
}
.category #myInput {
    width: 100%;
    margin-top: 20px;
}
/* end category page */
    /* strat home page */
    .photos .img1, .photos .img2, .photos .img3,.photos .img4{
        top: 20px;
        width: 70%;
        height: 142px;
        left: 52px;
        margin-bottom: 20px;
    }

    /* end home */
    /* start login */
    .container_1 {
		background-color:  #f6f6f6;
		border-radius: 10px;
		  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		position: relative;
		overflow: hidden;
		width: 680px;
		max-width: 100%;
		min-height: 550px;
		margin-top: 70px;
    }
    /* end login */
    /* start about page */

    .about {
        margin:40px 0px; 
    }
.about .faq-nav {
    position: relative;
left: 0px;
}
/* end about page */
    /* profile */
        .nav-tabs{
            position: relative;
        }
        .profile .card2{
            height: 340px !important;
          }
          .profile .card2 button {
        display: block;
        float: left;
          margin-left: 20px;
          margin-top: 0px;
          }
    }

    @media screen and (min-width: 574px)and (max-width: 767px){
   /* home page */
   .photos .img1{
    width: 100%;
    height: 163px;
    left: -5px;
    margin-bottom: 20px;
}
.photos .img2{
    top:40px;
    width: 100%;
    height: 163px;
    left: -5px;
    margin-bottom: 20px;
}
.photos .img3{
        top:80px;
    width: 100%;
    height: 163px;
    left: -5px;
    margin-bottom: 20px;
}
.photos .img4 {
    top:100px;
    width: 100%;
    height: 163px;
    left: -5px;
    margin-bottom: 20px;
}
.photos .bgColor-photos {
    height: 280px;
}
.photos {
    height: 432px;
}
/* end home */

           /* profile */
           .profile .card2{
            height: 210px;
          }
          .profile .card2 button {
        display: block;
        float: left;
          margin-left: 20px;
          }

}

    @media screen and (min-width: 768px) and (max-width: 990px){

    .searchBox #cancel {
        position: relative;
        top: -30px;
        left: 98%;
    }
    .breadcrumb {
        width: 7%;
        z-index: 99999;
    }
}

@media screen and (min-width: 990px) and (max-width: 1280px){

    .breadcrumb {
        width: 7%;
        z-index: 99999;
    }
    
    .profile .card2 button {
        display: block;
        float: left;
          margin-left: 20px;
          margin-top: 5px;
          }

}